.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
    gap: 32px;
}
.grid-card{
    background: #111;
    padding: 20px;
    border-radius: 12px;
    transition: .3s ease;
}
.grid-card:hover{ 
    transform: translateY(-6px); 
}

.img-placeholder.round{
    width:120px; 
    height:120px;
    border-radius:50%;
    margin:0 auto 20px auto;
}

.card-title{ 
    font-size: 20px; 
    text-align: center;
}
.card-info{ 
    color:#b5b09a; 
    font-size:14px; 
}

.round{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30pt;
}


