@media (max-width: 850px){

        
    .container{
    flex-direction: column;
    height: auto;
    }

    .sidebar{
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    gap: 6px;
    }

    .sidebar button{
    flex: 1;
    text-align: center;
    font-size: 14px;
    padding: 10px;
    }

    .content{
    padding: 16px;
    }


    table thead{
    display: none;
    }


    table, tbody, tr, td{
    display: block;
    width: 100%;
    }

    tr{
    background:#151515;
    border-radius:12px;
    margin-bottom:16px;
    padding:12px;
    }

    td{
    border: none;
    padding:8px 0;
    display:flex;
    justify-content: space-between;
    align-items:center;
    gap:10px;
    }

    td::before{
    content: attr(data-label);
    color:#aaa;
    font-size:13px;
    }

    td img{
    width:70px;
    }

    td:last-child{
    justify-content: flex-start;
    flex-wrap: wrap;
    gap:8px;
    }

    td button{
    flex:1;
    font-size:13px;
    }

    }


    #view{background:#f5c76b;color:#000;}
    #disable{background:#b23b3b;color:#fff;}
    #resolve{background:#25D366;color:#000;}