.photo{
  position: relative;
  overflow: hidden;
  margin-bottom: 15px;
  border-radius: 10px;
}


.photo img{
  width: 100%;
  display: block;
  transition: transform .35s ease;
}


.overlay{
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.45);
  opacity: 0;
  display: flex;
  align-items: flex-end; 
  padding: 15px;
  color: #fff;
  font-size: 14px;
  transition: opacity .3s ease;
}


.overlay span{
  opacity: 0;
  transform: translateY(20px);
  display: block;
  transition: .35s ease;
}


.photo:hover img{
  transform: scale(1.15);
}


.photo:hover .overlay{
  opacity: 1;
}

.photo:hover .overlay span{
  opacity: 1;
  transform: translateY(0);
}
