.profile-link{
    background-color: rgb(80, 80, 80);
    height: 40px;
    width: 40px;
    border-radius: 100%;
    border: 1px solid #FFFEDF;
    cursor: pointer; transition:.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-link:hover{
    background-color: rgba(109, 105, 105, 0.297);
}