

*{
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: #FFFEDF;

  }
  
*::selection{
  background: #dbaa47;
  color: #FFFEDF;
}
header{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    font-family: 'Nunito Sans', sans-serif;
}
html, body{
    height: 100%;
    scrollbar-width: thin;
}

::-webkit-scrollbar{
  width: 8px;
  height: 6px;
}

::-webkit-scrollbar-track{
  background-color: rgb(39, 44, 30);
}
::-webkit-scrollbar-thumb{
  background-color: #565148;
  border-radius: 10px;
  transition: background .3s;
}




a{
    transition: .3s ease-in-out;
}
body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #131415;
}

.wrapper{
  display: flex;
  flex-direction: column;
  flex: 1;
}

main{
  flex: 1;
}
.art, .artists{
  cursor: pointer;
}
