footer{
    width: 100%;
    margin-top: 40px;
    background-color: rgba(36, 36, 36, 0.4);
}


.section-4{
    max-width: 1300px;       
    margin: 0 auto;
    padding: 30px 20px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;
}


.about-us, .quick-links, .contact{
    flex: 1;
    min-width: 220px;    
    max-width: 360px;
    text-align: justify;
    text-align: center;
}



footer a{
    text-decoration: none;
}

footer a:hover{
    color: #da9e1e;
}


.section-5{
    border-top: 1px solid rgba(255,255,255,0.1);
    padding: 12px 20px;
    text-align: center;
}

.section-5 p{
    font-size: 13px;
    opacity: 0.8;
}


@media (max-width: 768px){

    .section-4{
        flex-direction: column;
        gap: 24px;
        text-align: center;
    }

    .about-us, .quick-links, .contact{
        max-width: 100%;
        text-align: center;
    }

    .about-us p{
        text-align: center;
    }
}
