.purchase-artwork-container{
    background-color: rgba(0,0,0,0.5);
    height: 100vh;
    width: 100vw;
    position: fixed;
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 40px;
    display: none;
}

.purchase-artwork-modal{
    background-color: #131415;
    border-radius: 12px;
    width: 100%;
    padding: 20px;
    display: flex;
    gap: 40px;
    max-width: 900px;
    animation: fadeIn .5s ease-in-out;
}

.close-icon-container{
    height: 30px;
    position: relative;
}
.close-icon-container img{
    position: absolute;
    right: 0;
    cursor: pointer;
}

.artwork-info{
    width: 100%;
}

.artwork-image{
    border: 1px solid red;
    height: 350px;
    width: 100%;
    max-width: 500px;
    border-radius: 8px;
}

.artwork-description{
    margin-top: -5px;
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
}

.artwork-title{
    font-size: 16pt;
    font-weight: 700;
}

.price-and-purchase-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.price{
    font-size: 16pt;
    color: #f2cb77;
}

.purchase-button{
    background-color: #f2cb77;
    color: black;
    border: none;
    padding: 10px 16px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 700;
    transition: .3s;
}

.purchase-button:hover{
    background-color: #e3b144;
}

@keyframes fadeIn {
    from{
        opacity: 0;
        transform: translateY(-50px);
    }to{
        opacity: 1;
        transform: translateY(0);
    }
}